.food-list-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	gap: 0.5rem;
}

.food-item-card{
	height: 6rem;
	border-radius: 20px;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title-serv{
	display: flex;
	flex-direction: column;
}

.food-item-title{
	font-family: "caros-bold";
	font-size: 0.8rem;
}

.food-item-serv{
	font-family: "caros-medium";
	font-size: 0.67rem;
	color: #cecece;
}

.cal-arrow{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.food-item-cal{
	font-family: "caros-medium";
	font-size: 0.8rem;
}

.arrow{
	color: #FE9844;
}