.auth-form-container{
    background-color: #F3F2F7;
    z-index: 2;
    /* box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.235); */
    width: 100%;
    height: auto;
    
}

/* SIGN IN  */
.login-form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0.8rem 2rem; */
    gap: 1rem;
    padding: 1rem;
}

/* TITLE  */
.login-form-title-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "caros-bold";
    gap: 0.3rem;
}

.login-form-subtitle{
    font-family: "caros-medium";
    font-size: 0.65rem;
}

/* EMAIL PASSWORD LOGIN  */
.email-password-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flname-container{
    display: flex;
    gap: 0.2rem;
    width: 100%;
}

.flname-container > div{
    flex: 1;
    min-width: 0;
}

.text-input{
    border: none;
    outline: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 15px;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.235);
    cursor: pointer;
    padding: 0 0.7rem;
}

.password-container{
    position: relative;
    display: flex;
    width: 100%;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
}

.login-button{
    margin-top: 0.5rem;
}

.google{
    width: 100%;
    height: 3rem;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-family: "caros-bold";
    font-size: 0.8rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.235);
    cursor: pointer;
}

/* REDIRECT  */
.redirect{
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: "caros-medium";
    font-size: 0.7rem;
}

.redirect-link{
    text-decoration: underline;
    font-family: "caros-bold";
    color: #FE9844;
}

@media (min-width: 1024px){
    .login-form-title{
        font-size: 2rem;
    }
}