.searchbar-container{
    width: 100%;
    display: flex;
    position: relative;
}

.mag-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    color: #cecece;
    z-index: 201;
}

.searchbar{
    width: 100%;
    border: none;
    outline: none;
    padding: 0.8rem;
    padding-left: 2.8rem;
    font-family: "caros-medium";
    font-size: 16px;
    border-radius: 50px;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.235);
    background-color: white;
    z-index: 200;
}